<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIR_PATH" value="${HOME}/AppLogs/JHome"/>
    <property name="APP_NAME" value="user-service"/>

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSSXXX}] [%-5level] [%thread] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR_PATH}/${APP_NAME}/default.log</file>
        <!-- 로그 롤링 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일 이름 패턴 -->
            <fileNamePattern>${DIR_PATH}/${APP_NAME}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 보관 기간 (일) -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSSXXX}] [%-5level] [%thread] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>